In [1]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine
from utils.dbs_utils import save_dataframe_to_sql
import os

In [2]:
def create_engine_to_sqlite():
    # Verificar si la carpeta 'db' existe, si no, crearla
    db_folder = 'db'
    if not os.path.exists(db_folder):
        os.makedirs(db_folder)

    # Ruta completa hacia la base de datos SQLite dentro de la carpeta 'db'
    database_path = os.path.join(db_folder, 'sql_db.sqlite')

    # Crear el motor de conexión
    engine = create_engine(f'sqlite:///{database_path}')
    return engine

In [3]:
engine = create_engine_to_sqlite()

In [5]:
tabls = ["jobs","departments","hired_employees"]

for t in tabls:
    if t == 'jobs':
        columns = ["id", "job"]
    elif t == "departments":
        columns = ["id", "department"]
    elif t == "hired_employees":
        columns = ["id", "name", "datetime", "department_id", "job_id"]

    df_= pd.read_csv(f"../data/bronce/{t}.csv", 
                      sep=",",
                        header= None,
                        names = columns,
                        encoding="utf-8",
                        index_col=0
                        )
    
    df_.to_sql(t, 
               con=engine, 
               if_exists='replace', 
               index=False)

In [6]:
tabls = ["jobs","departments","hired_employees"]

df = []
for t in tabls:
    df_persisted = pd.read_sql(t, con=engine)
    df.append(df_persisted)

df

[                             job
 0            Marketing Assistant
 1                       VP Sales
 2             Biostatistician IV
 3      Account Representative II
 4                   VP Marketing
 ..                           ...
 178         Software Engineer II
 179              Statistician IV
 180         Programmer Analyst I
 181     Account Representative I
 182  Administrative Assistant IV

 [183 rows x 1 columns],
                   department
 0         Product Management
 1                      Sales
 2   Research and Development
 3       Business Development
 4                Engineering
 5            Human Resources
 6                   Services
 7                    Support
 8                  Marketing
 9                   Training
 10                     Legal
 11                Accounting,
                     name              datetime  department_id  job_id
 0            Harold Vogt  2021-11-07T02:48:42Z            2.0    96.0
 1               Ty Hofer  2021-05-30T05:43:46Z            8.0     NaN
 2            Lyman Hadye  2021-09-01T23:27:38Z            5.0    52.0
 3          Lotti Crowthe  2021-10-01T13:04:21Z           12.0    71.0
 4         Gretna Lording  2021-10-10T22:22:17Z            6.0    80.0
 ...                  ...                   ...            ...     ...
 1994          Goran Yong  2021-08-22T21:57:53Z            2.0    83.0
 1995  Cirstoforo Youings  2021-04-01T17:48:42Z            3.0    23.0
 1996     Wilek Yurkevich  2021-05-04T12:19:50Z            2.0   132.0
 1997          Jerry Yven  2021-10-03T14:12:50Z            7.0   100.0
 1998       Jerri Zebedee  2022-01-18T10:47:37Z            8.0    80.0

 [1999 rows x 4 columns]]

In [8]:
table_name = "test"
df[0].to_csv(f"../data/bronce/{table_name}.csv")

In [19]:
df[0]

                    name              datetime  department_id  job_id
0            Harold Vogt  2021-11-07T02:48:42Z            2.0    96.0
1               Ty Hofer  2021-05-30T05:43:46Z            8.0     NaN
2            Lyman Hadye  2021-09-01T23:27:38Z            5.0    52.0
3          Lotti Crowthe  2021-10-01T13:04:21Z           12.0    71.0
4         Gretna Lording  2021-10-10T22:22:17Z            6.0    80.0
...                  ...                   ...            ...     ...
1994          Goran Yong  2021-08-22T21:57:53Z            2.0    83.0
1995  Cirstoforo Youings  2021-04-01T17:48:42Z            3.0    23.0
1996     Wilek Yurkevich  2021-05-04T12:19:50Z            2.0   132.0
1997          Jerry Yven  2021-10-03T14:12:50Z            7.0   100.0
1998       Jerri Zebedee  2022-01-18T10:47:37Z            8.0    80.0

[1999 rows x 4 columns]

In [21]:

def review_dataset(df):
    print("=====================================")
    print("\nNumber of missing values per column:")
    print("=====================================")
    print(df.isnull().sum())
    print("=====================================")
    print(df.isna().sum())
    print("=====================================")
    print("\nDescriptive statistics:")
    print("=====================================")
    print(df.describe(include='all'))
    print("=====================================")
    print("\nNumber of duplicate rows:")
    print("=====================================")
    print(df.duplicated().sum())
    print("=====================================")
    print("\nData types of each column:")
    print("=====================================")
    print(df.dtypes)
    print("=====================================")
    print("\nUnique values per column:")
    print("=====================================")
    print(df.nunique())

In [27]:
info = df[2].isnull().sum()

In [29]:
type(info)

pandas.core.series.Series