In [1]:
import pandas as pd
from preprocess import impute_and_clean

In [2]:
# Función para imputar data
df_ = pd.read_csv("../../data/bronce/hired_employees.csv", index_col=0)
df_

                    name              datetime  department_id  job_id
id
1            Harold Vogt  2021-11-07T02:48:42Z            2.0    96.0
2               Ty Hofer  2021-05-30T05:43:46Z            8.0     NaN
3            Lyman Hadye  2021-09-01T23:27:38Z            5.0    52.0
4          Lotti Crowthe  2021-10-01T13:04:21Z           12.0    71.0
5         Gretna Lording  2021-10-10T22:22:17Z            6.0    80.0
...                  ...                   ...            ...     ...
1995          Goran Yong  2021-08-22T21:57:53Z            2.0    83.0
1996  Cirstoforo Youings  2021-04-01T17:48:42Z            3.0    23.0
1997     Wilek Yurkevich  2021-05-04T12:19:50Z            2.0   132.0
1998          Jerry Yven  2021-10-03T14:12:50Z            7.0   100.0
1999       Jerri Zebedee  2022-01-18T10:47:37Z            8.0    80.0

[1999 rows x 4 columns]

Verificación rápida para saber si antes y después nos encontramos con valores nulos

In [3]:
df_.isnull().sum()

name             19
datetime         14
department_id    21
job_id           16
dtype: int64

In [4]:
cleaned_df = impute_and_clean(df_, nan_threshold=0.5)

In [5]:
cleaned_df.isnull().sum()

name             0
datetime         0
department_id    0
job_id           0
dtype: int64

In [6]:
cleaned_df.dtypes

name              object
datetime          object
department_id    float64
job_id           float64
dtype: object

- Como están en flotantes es mejor castear a enteros, y reemplazar los valores NA por -`1`

In [ ]:
cleaned_df

In [ ]:
cleaned_df['datetime'] = pd.to_datetime(cleaned_df['datetime'], errors='coerce')
cleaned_df['year'] = cleaned_df['datetime'].dt.year
cleaned_df['quarter'] = cleaned_df['datetime'].dt.to_period('Q')
cleaned_df_hired_2021 = cleaned_df[cleaned_df['year'] == 2021]

In [ ]:
cleaned_df['department_id'] = cleaned_df['department_id'].fillna(-1).astype(int)
cleaned_df['job_id'] = cleaned_df['job_id'].fillna(-1).astype(int)

# Asegurarnos que la columna 'year' también esté en formato entero
cleaned_df['year'] = cleaned_df['datetime'].dt.year.fillna(-1).astype(int)

In [ ]:
cleaned_df_hired_2021.dtypes

In [ ]:
cleaned_df

### Preguntas de negocio

1. " Number of employees hired for each job and department in 2021 divided by quarter. The table must be ordered alphabetically by department and job."

2. "  List of ids, name and number of employees hired of each department that hired more employees than the mean of employees hired in 2021 for all the departments, ordered by the number of employees hired (descending). "

In [ ]:
grouped_df = cleaned_df_hired_2021.groupby(['department_id', 'job_id', 'quarter']).size().reset_index(name='num_employees')
grouped_df_sorted = grouped_df.sort_values(by=['department_id', 'job_id', 'quarter'])
grouped_df_sorted